<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean class="org.springframework.jdbc.datasource.DriverManagerDataSource" name="dmds">
        <property name="username" value="root"/>
        <property name="password" value="root"/>
        <property name="username" value="root"/>
    </bean>

    <bean class="org.springframework.orm.hibernate5.LocalSessionFactoryBean" name="lsfb">
        <property name="datasource" ref="dmds"/>
    </bean>

    <bean class="org.springframework.orm.hibernate5.LocalSessionFactoryBean" name="lsfb">
        <property name="datasource" ref="dmds"/>
    </bean>


</beans>
